@import "./sass/_variable.scss";

// {/* login page background */}
.main_page {
  background: $background;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-top: 3rem;
  //   {/* login form center */}
  & .main_signUp {
    display: grid;
    place-items: center;

    // {/* main form section */}
    & .signup_form {
      width: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border-radius: 1.6rem;
      height: auto;
      margin: 1rem 0rem 3rem;
      padding: 3.5rem 0rem 5rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;

      // {/* form content */}

      & .signup_form_cover {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .login_title {
          text-align: center;
          color: $black;
          margin-bottom: 1rem;

          & .join_famstep {
            display: block;
            font-size: 2.5rem;
            line-height: 3.4rem;
          }

          .or {
            font-size: 1.6rem;
            & .messageEmail {
              font-weight: 400;
              font-size: 2rem;
              padding: 0rem 1rem;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
.VerifyIconCover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.VerifyIconCircle {
  width: 14rem;
  height: 14rem;
  border: 5px solid $brand-clr;
  border-radius: 15rem;
}
.VerifyIcon {
  width: 11rem;
  height: 11rem;
  color: $brand-clr;
}

.VerifyReset{
    width: 13rem;
  height: 13rem;
  color: $brand-clr;
}
.message {
  padding: 1.5rem 1.5rem 1rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
// control size of forms inner content
.signup_form form {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  width: 80%;

  // control size of forms input
  & input {
    margin-top: 1.5rem;
    height: 5rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem 0rem;
    border-radius: .5rem;
    border: 1px solid $textSoft;
    background: $background1;
    color: $black;
  }

  // button
  & button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 1.2rem 0rem;
    background: $brand_clr;
    border-radius: 20rem;
    border: none;
    color: $white;
    font-weight: 500;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;

    &:hover {
      background: #063a6e;
    }
  }
}

//error line
.errorLine {
  color: red;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-left: 1rem;
  text-align: left;
}
// label animation
.input_bx {
  position: relative;
}

.label {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  // padding: 10px;
  font-size: 1.5rem;
  color: $gray_content;
  pointer-events: none;
  transition: 0.1s;
}

.input_bx input:valid ~ .label,
.input_bx input:focus ~ .label {
  color: $brand-clr;
  transform: translateX(0px) translateY(-7px);
  font-size: 1.3rem;
  font-weight: 500;
  background: $background1;
  // border-top: 1px solid $brand-clr;
  letter-spacing: 0.1rem;
}

.forgotpassword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 1rem 0rem;
  color: $brand_clr;
}

.my_link {
  color: $brand_clr;
}
.timer {
  width: 40%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
// {/* extra login */}
.connectwith {
  position: relative;
  color: $gray_content;
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0rem;
}

.connectwithCover {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connectLine {
  width: calc(100% - 60%);
  height: 0.1rem;
  background-color: $textSoft;
}

// password show and hide
.passInput_icon {
  position: relative;
}
.passwordIcons_login {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
  }
  
  .password_Icons {
    width: 1.9rem;
    height: 1.9rem;
    fill: none;
    stroke: $brand_clr;
    stroke-width: 0.18rem;
    cursor: pointer;
  }


.social_icons {
  border: 1px solid $brand-clr;
  text-align: center;
  padding: 1rem 0rem;
  border-radius: 15rem;
  transition: all 0.3s;
  margin-bottom: 1rem;
  & > a {
    font-size: 1.7rem;
  }
  &:hover {
    color: $white;
    background-color: $brand-clr;
    border: 1px solid $white;
  }
  // display: flex;
  // justify-content: space-evenly;
}

// media query for 4k screen
@media (min-width: 1472px) {
  .main_page {
    .main_signUp {
        height: 95vh;
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

// media query for mobile screen

@media (max-width: 767px) {
  .main_page {
    background-color: $white;
    margin-top: 0rem;
    .main_signUp {
   
      & .signup_form {
        width: 100vw;
        background: $white;
        border-radius: 0rem;
        margin: 0rem;
        padding: 2rem 0rem 8rem;
        box-shadow: none;

        & > div {
          & .login_title {
            & .join_famstep {
              font-size: 2.8rem;
            }

            & .or {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  // forgotpassword css
  .forgotpassword {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .signup_form form {
    width: 85%;

    & input {
      height: 5.5rem;
      font-size: 2rem;
    }

    & button {
      padding: 1.5rem 0rem;
      font-size: 2rem;
    }
  }
  .VerifyIconCover {
    padding: 0rem 0rem 2rem;
  }
  .label {
    font-size: 1.8rem;
  }

  .connectwith {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .VerifyIconCircle {
    width: 12rem;
    height: 12rem;
  }
 

  .VerifyIcon {
    width: 10rem;
    height: 10rem;
    color: $brand-clr;
  }
}

