@use "./sass/_mixin.scss";
@import "./sass/_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patua+One&display=swap');
@import "./Footer.module.scss";

*,
p,
li,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif, "Fira Sans";
  // font-optical-sizing: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: 2rem;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  // -webkit-user-select: none; /* Safari */
  // -ms-user-select: none; /* IE 10 and IE 11 */
  // user-select: none; /* Standard syntax */
  touch-action: pan-y;
}
html,
body {
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;

}
body {
  background-color: $background;
  overflow-x: hidden;
  overflow-y: auto;
  // Custom scrollbar styles
  &::-webkit-scrollbar {
    width: .8rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray-content; // Adjust this color as needed
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-clr; // Adjust this color as needed
    border-radius: 0rem 1rem 1rem 0rem;
    border: 1px solid $white; // Adjust this color as needed
  }
}
// body::-webkit-scrollbar{
//   display: none
// }

a {
  color: inherit;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: 2em;
}

span, pre{
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: 2em;
}

input,
button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  border: none;
  background: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: 2em;
}

button {
  border: none;
}

li {
  list-style: none;
}

.userNotFound {
  margin: 2rem 3rem;

  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 1192px) {
  html {
    font-size: 50.9%;
  }
}
@media (max-width: 970px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 767px) {
  body {
    // overflow: hidden;
    margin-bottom: 6rem;
    user-select: none;
  }
}
@media (max-width: 396px) {
  // html{

  //   font-size:  55.5%;
  // }
}
@media (max-width: 314px) {
  // html{
  //   font-size:  49.5%;
  // }
}
@media (max-width: 280px) {
  // html{
  //   font-size:  39.5%;
  // }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(13, 11, 11);
    background:var(--background);
    
  }
  .main_page{
    background-color:red;

  }
} */
// @media (min-width:2560px) {

// }

// @media (max-width:2560px) {

// }

// @media (max-width:1988px) {

// }

// @media (max-width:1649px) {

// }

// @media (max-width:1472px) {

// }

// @media (max-width:1298px) {

// }

// @media (max-width:998px) {

// }

// @media (max-width:798px) {

// }

// @media (max-width:732px) {

// }

// @media (max-width:642px) {

// }

// @media (max-width:548px) {

// }

// @media (max-width:385px) {

// }

// @media (max-width:320px) {

// }
