@import "./sass/_variable.scss";

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 6rem);
  background: $white;
  overflow-y: auto;
  overflow-x: hidden;
}
.center {
  width: 115rem;
  padding: 3.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:970px) {
  .center{
    width: 95vw;
  }
}
