@import "./sass/_variable.scss";

// {/* signup more deatails page background */}
.main_page {
  min-height: 100vh;
  background: $background;
  display: grid;
  place-items: center;

  //   {/* login form center */}
  & .main_signUp {
    display: grid;
    place-items: center;

    // {/* logo */}
    & .Image_logo {
      width: 20rem;
      margin: 1rem 0rem;

      & .logo_svg {
        fill: $brand-clr;
        stroke: none;
        stroke-width: none;
      }
    }

    // {/* main form section */}
    & .signup_form {
      width: 38rem;
      display: flex;
      justify-content: center;
      align-items: self-start;
      background-color: $white;
      border-radius: 1.6rem;
      height: auto;
      margin: 1rem 0rem 3rem;
      padding: 3rem 0rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;

      // {/* form content */}
      & > div {
        width: 100%;
        & .login_title {
          text-align: center;
          color: $black;
          // margin-bottom: 2rem;
          width: 80%;
          margin: 0rem auto 1rem;

          & .join_famstep {
            display: block;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            font-weight: 600;
          }

          & .or {
            font-size: 1.5rem;
            font-weight: 500;
            display: block;
            color: $subtitle;
          }
        }
      }
    }
  }
}

// control size of forms inner content
.signup_form form {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  width: 80%;
  // border: 1px solid red;

  & input {
    margin-top: 1.5rem;
    height: 5rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem 0rem;
    border-radius: .5rem;
    border: 1px solid $border;
    background: $background1;
    color: $black;
    // font-family: 'Source Sans Pro', sans-serif ;
  }

  // button
  & button {
    margin-top: 3rem;
    width: 100%;
    padding: 1.2rem 0rem;
    background: $brand_clr;
    border-radius: 20rem;
    border: none;
    color: $white;
    font-weight: 500;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #063a6e;
    }
  }
}

// label animation
.input_bx {
  position: relative;
}

.label {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  // padding: 10px;
  font-size: 1.5rem;
  color: $gray_content;
  // text-transform:lowercase;
  pointer-events: none;
  transition: 0.1s;
}

.svg_help {
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  // border: 1px solid red;
}

.innerStyle_svgHelp {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: $brand-clr;
  stroke-width: 0.14rem;
  transition: all 0.5s ease-in-out;
}

.input_bx input:valid ~ .label,
.input_bx input:focus ~ .label {
  color: $brand-clr;
  transform: translateX(0px) translateY(-7px);
  font-size: 1.3rem;
  font-weight: 500;
  background: $background1;
  // border-top: 1px solid $brand-clr;
  letter-spacing: 0.1rem;
}

// css for all modal
.help_modalOuter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(5, 5, 5, 0.678);
  z-index: 99999;
}

.help_center {
  position: relative;
  width: 48rem;
  height: auto;
  background-color: $white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8rem;
  & button {
    margin-top: 3rem;
    width: 100%;
    padding: 1.2rem 0rem;
    background: $brand_clr;
    border-radius: 20rem;
    border: none;
    color: $white;
    font-weight: 500;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #063a6e;
    }
  }
}
.help_cross {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid $background1;
  position: sticky;
  top: 0;
  background: $white;
  z-index: 999;
  padding: 1rem;
}

.svg_cross {
  width: 3.5rem;
  height: 3.5rem;
  fill: $subtitle;
}

.countryDropDown_form {
  width: 80%;
  padding-bottom: 3.5rem;
}

.country_dropDown {
  width: 100%;
  position: relative;

  & input {
    margin-top: 1.5rem;
    height: 5rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem 0rem;
    border-radius: .5rem;
    border: 1px solid $border;
    background: $background1;
    color: $black;
    // font-family: 'Source Sans Pro', sans-serif ;
  }
}

.options {
  width: 100%;
  max-height: 13rem;
  position: absolute;
  top: 6.7rem;
  left: 0;
  background: $white;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: .5rem;
  z-index: 9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  & .dropdown_item {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    transition: all 0.2s;

    &:nth-child(odd) {
      background: $brandclr-highlight;
    }

    &:hover {
      background-color: $brand-clr;
      color: $white;
    }
  }
  
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray_highlight;
    border-radius:0rem  0.5rem 0.5rem 0rem ;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 0rem  0.5rem 0.5rem 0rem;
    border: 2px solid $gray_highlight;
  }
}

//SkillsModal
.skillModal_center {
  position: relative;
  width: 48rem;
  height: auto;
  background-color: $white;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  max-height: 95vh;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    &::-webkit-scrollbar { 
      width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray_highlight;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-content;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    border: 2px solid $white;
  }

  & button {
    margin: 3rem 0rem;
    width: 100%;
    padding: 1.2rem 0rem;
    background: $brand_clr;
    border-radius: 20rem;
    border: none;
    color: $white;
    font-weight: 500;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background: #063a6e;
    }
  }
}

.addedSkills {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.selected_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray_highlight;
  width: auto;
  padding: 1rem;
  height: auto;
  border-radius: 2rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
}

.selected_code {
  font-size: 1.5rem;
  font-weight: 500;
  color: $subtitle;
  // word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}

.selected_delete {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.svg_delete {
  width: 2rem;
  height: 2rem;
  color: $gray_content;
}

.addYour_skills {
  margin: 1.5rem 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: $black;
}

.errorSet {
  font-size: 1.4rem;
  color: red;
  margin-bottom: -2rem;
}
.skipButton{
  width: 100%;
  outline: none;
  background-color: transparent;
  color: $brand-clr;
  font-size: 1.8rem;
  font-weight: 502;
  text-align: center;
  padding-top: 2rem;
  cursor: pointer;
}
// media query for 4k screen
@media (min-width: 1472px) {
  .main_page {
    .main_signUp {
      height: 95vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

// media query for mobile screen

@media (max-width: 767px) {
  .main_page {
    background-color: $white;

    .main_signUp {
      padding-top: 2rem;
      & .Image_logo {
        margin: 1rem 0rem 0rem 0rem;
      }

      & .signup_form {
        width: 100vw;
        background: $white;
        border-radius: 0rem;
        margin: 0rem 0rem;
        padding: 0.8rem 0rem 6rem;
        box-shadow: none;
        & > div {
          & .login_title {
            // width: 90%;

            & .join_famstep {
              font-size: 2.5rem;
            }

            & .or {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }

  .signup_form form {
    width: 85%;

    & input {
      height: 5.5rem;
      font-size: 1.6rem;
    }

    & button {
      padding: 1.5rem 0rem;
      font-size: 2rem;
    }
  }

  .label {
    top: 3.3rem;
    font-size: 1.8rem;
  }

  // responsive for signupmoredetail
  .help_center {
    width: 100vw;
    height: 100vh;
  }

  .skillModal_center {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    box-shadow: none;
  }

  .skillModal_center {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0rem;
    &::-webkit-scrollbar {
      width: .5rem;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 0rem ;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 0rem ;
      border: 1px solid $white;
    }
  
  }
  //option list
  .options {
    max-height: 30vh;
    & .dropdown_item {
      padding: 1.5rem 2rem;
      font-size: 1.5rem;

    }
  }
}

@media (max-width: 384px) {
  .main_page {
    .main_signUp {
      & .Image_logo {
        width: 19rem;
      }
      & .signup_form {
        // {/* form content */}
        & > div {
          & .login_title {
            & .join_famstep {
              font-size: 2rem;
              line-height: 3rem;
            }
            & .or {
              font-size: 1.5rem;
              display: block;
              color: $subtitle;
            }
          }
        }
      }
    }
  }

  .label {
    font-size: 1.5rem;
  }
}
